@using DeleteBoilerplate.Account.Constants
@model DeleteBoilerplate.Account.Models.RegisterViewModel

@{
    Layout = null;
}

<form method="post" action="@Url.RouteUrl(RouteNames.Account.Register)">

    @Html.ValidationSummary();

    <div>
        @Html.TextBoxFor(it => it.FirstName, 
            new { placeholder = Html.DisplayNameFor(it => it.FirstName) })
    </div>
    <div>
        @Html.TextBoxFor(it => it.LastName, 
            new { placeholder = Html.DisplayNameFor(it => it.LastName) })
    </div>
    <div>
        @Html.TextBoxFor(it => it.Email, 
            new { placeholder = Html.DisplayNameFor(it => it.Email) })
    </div>
    <div class="form__row">
        @Html.PasswordFor(it => it.Password, 
            new { placeholder = Html.DisplayNameFor(it => it.Password) })
    </div>
    <div class="form__row">
        @Html.PasswordFor(it => it.PasswordConfirmation, 
            new { placeholder = Html.DisplayNameFor(it => it.PasswordConfirmation) })
    </div>
    <div>
        <button type="submit">Sign up</button>
    </div>
</form>

