@using DeleteBoilerplate.Infrastructure.Extensions
@model DeleteBoilerplate.GenericComponents.Models.Widgets.TwitterWidget.TwitterWidgetViewModel

@*
    @Html.RegisterStyle("twitter-feed.css")
    @Html.RegisterScript("twitter-feed.js")
*@

@if (Model == null)
{
    return;
}

<div class="twitter-feed">
    <div>
        <svg class="twitter-feed__icon icon" width="32" height="32" focusable="false">
            <use xlink:href="#icon-twitter" />
        </svg>
        <div class="twitter-feed__row">
            <h2 class="twitter-feed__title">@Model.Title</h2>
            <a href="@Model.ProfileLink">Follow us on Twitter</a>
        </div>
        <ul class="twitter-feed__inner" data-dc-twitter-feed='{"endpoint": "@Model.GetTweetsApi"}'></ul>
    </div>
</div>