<!DOCTYPE html>
<html>
<head>
    @{ Html.RenderAction("RenderMeta", "Metadata"); }

    @Styles.Render("~/Content/css")

    @* See ~/App_Start/ApplicationConfig.cs, ~/Controllers/HomeController.cs and ~/Views/Home/Index.cshtml
       Uncomment the following line to add <link> tag referencing the Page builder style bundle. *@
    @*@Html.Kentico().PageBuilderStyles()*@

</head>
<body>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")

    @* See ~/App_Start/ApplicationConfig.cs, ~/Controllers/HomeController.cs and ~/Views/Home/Index.cshtml
       Uncomment the following line to add <script> tag referencing the Page builder script bundle. *@
    @*@Html.Kentico().PageBuilderScripts()*@

    @RenderSection("scripts", required: false)
</body>
</html>
