@using System.Web.Mvc.Html
@using DeleteBoilerplate.Infrastructure.Extensions
@using Kentico.Activities.Web.Mvc
@using Kentico.OnlineMarketing.Web.Mvc
@using HtmlHelperExtensions = DeleteBoilerplate.Infrastructure.Extensions.HtmlHelperExtensions

@Html.RegisterStyle("app.css")
@Html.RegisterScript("app.js")
@Html.RegisterSvg("app.svg")

<!DOCTYPE html>
<html>
<head>
    @{ Html.RenderAction("RenderMeta", "Metadata"); }
    @RenderSection("styles", required: false)
    @Html.Kentico().ABTestLoggerScript()
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="https://deleteagency.com">Delete</a></p>
        </footer>
    </div>
    
    @RenderSection("scripts", required: false)
    @Html.Kentico().ActivityLoggingScript()
    @Html.RenderRegisteredScripts()
    @{
        var styles = Html.GetRegisteredComponents(ContentType.CSS);
        var isStyleLoaded = HtmlHelperExtensions.IsSameAssetsCacheCookie();
    }

    @if (!isStyleLoaded)
    {
        <script>
        (function () {
            var cookieName = '@(HtmlHelperExtensions.AssetsCookieName)';
            var cookieValue = '@(HtmlHelperExtensions.ManifestHash)';
            var days = 360;
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            var expires = "; expires=" + date.toUTCString();
            document.cookie = cookieName + "=" + (cookieValue || "")  + expires + "; path=/";

            var cachedStyles = [@Html.Raw(string.Join(",", styles.Select(x => $"\"{x.Path}\"")))];
            var loadStyle = function(file) {
                var _sl = document.createElement("link");
                _sl.rel = "stylesheet";
                _sl.media = "print";
                _sl.href = file;
                document.head.appendChild(_sl);
            };

            setTimeout(function() {
                    for (var i = 0; i < cachedStyles.length; i++) {
                        loadStyle(cachedStyles[i]);
                    }
                },
                10000);
        }());
        </script>
    }
</body>
</html>
