@using DeleteBoilerplate.Infrastructure.Extensions
@using DeleteBoilerplate.Projects.Helpers
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@model DeleteBoilerplate.Projects.Models.ProjectViewModel

@if (Context.Kentico().PageBuilder().EditMode)
{
@section styles
{
    @Html.Kentico().PageBuilderStyles()
}

@section scripts
{
    @Html.Kentico().PageBuilderScripts()
}
}

<body>
    <div>
        @Model.Year - @Model.Description
    </div>
    <div>
        <img srcset="@Html.GetResizedSrcSet(Model.Image.Url)" alt="@Model.Image.Title" class="lazyload" width="200" height="200">
    </div>

    @Html.Kentico().EditableArea("deleteboilerplate-main", "DeleteBoilerplate.OneFullWidthColumnSection", AreaRestrictionHelper.GetProjectsMainRestrictions())

</body>