@using CMS.Helpers
@using DeleteBoilerplate.WebApp.Constants
@model DeleteBoilerplate.WebApp.Models.Global.Cookies.CookiesViewModel

@if (Model == null)
{
    return;
}

<button id="toggle-cookies-form" class="btn">Show cookie</button>

<div id="cookie-form" style="display: none">
    @* Cookie Banner *@
    <div>
        <form method="post" action="@Url.RouteUrl(RouteNames.Cookies.AcceptAllCookies)">
            <h2>@ResHelper.GetString("DeleteBoilerplate.Cookies.Title")</h2>
            <div>
                <p>@Html.Raw(Model.CookiePolicy)</p>
            </div>

            <input type="hidden" id="cookies-all-page-url" name="pageUrl" />

            <div>
                <button type="button" id="toggle-cookie-settings-form" class="btn">
                    Cookie Settings
                </button>
                <button type="submit" class="btn">
                    @ResHelper.GetString("DeleteBoilerplate.Cookies.Button")
                </button>
            </div>
        </form>
    </div>

    @* Cookie Settings Form *@
    <div id="cookie-settings-form" style="display: none">
        <div>
            <h2>@ResHelper.GetString("DeleteBoilerplate.Cookies.SettingsTitle")</h2>
        </div>
        <form method="post" action="@Url.RouteUrl(RouteNames.Cookies.SetCookieLevel)">
            <div>
                <input type="checkbox" name="" value="true" checked disabled>
                <label>@ResHelper.GetString("DeleteBoilerplate.Cookies.Label.Functional")</label>
                <div>
                    <p>@Html.Raw(Model.FunctionalCookies)</p>
                </div>
            </div>
            <div>
                <input type="checkbox" name="isPerformance" value="true" checked="@Model.IsPerformance">
                <label>@ResHelper.GetString("DeleteBoilerplate.Cookies.Label.Performance")</label>
                <div>
                    <p>@Html.Raw(Model.PerformanceCookies)</p>
                </div>
            </div>
            <div>
                <input type="checkbox" name="isTracking" value="true" checked="@Model.IsTracking">
                <label>@ResHelper.GetString("DeleteBoilerplate.Cookies.Label.Tracking")</label>
                <div>
                    <p>@Html.Raw(Model.TrackingCookies)</p>
                </div>
            </div>
            <input type="hidden" id="cookies-page-url" name="pageUrl" />
            <div>
                <button type="submit" class="btn">
                    @ResHelper.GetString("DeleteBoilerplate.Cookies.SettingsButton")
                </button>
            </div>
        </form>
    </div>
</div>


<script>
    function ToggleDisplayElements(bntId, elementId) {
        document.getElementById(bntId).onclick = function () {
            var el = document.getElementById(elementId);
            el.style.display === 'none' ? el.style.display = 'initial' : el.style.display = 'none';
        }
    }

    document.getElementById('cookies-page-url').value = document.URL;
    document.getElementById('cookies-all-page-url').value = document.URL;

    // In Kentico this cookie is secure, but we need value to resolve anonymous contact on backend on 1st request
    document.cookie = 'CMSCookieLevel=@(CookieLevel.Visitor)';

    ToggleDisplayElements('toggle-cookies-form', 'cookie-form');
    ToggleDisplayElements('toggle-cookie-settings-form', 'cookie-settings-form');
</script>
