@using DeleteBoilerplate.Infrastructure.Extensions
@model DeleteBoilerplate.Metadata.Models.IMetadata

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@if (Model != null)
{
    <title>@Model.Title</title>

    <meta name="description" content="@Model.Description" />
    <meta name="canonical" content="@Model.CanonicalUrl" />

    if (Model.OpenGraphMetadata != null)
    {
        <!--Open graph -->
        <meta property="og:type" content="@Model.OpenGraphMetadata.Type.GetStringValue()" />
        <meta property="og:image" content="@Model.OpenGraphMetadata.Image" />
        <meta property="og:image:alt" content="@Model.OpenGraphMetadata.ImageAlt" />
        <meta property="og:site_name" content="@Model.OpenGraphMetadata.SiteName" />
        <meta property="og:locale" content="@Model.OpenGraphMetadata.Locale" />
        <meta property="og:url" content="@Model.OpenGraphMetadata.Url" />
        <meta property="og:title" content="@Model.OpenGraphMetadata.Title" />
        <meta property="og:description" content="@Model.OpenGraphMetadata.Description" />
    }
}
