@using DeleteBoilerplate.Infrastructure.Extensions
@model IEnumerable<DeleteBoilerplate.Projects.Models.ProjectViewModel>

<div class="projects-listing">
    <table>
        <thead>
            <tr>
                <td colspan="3">Our projects</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr>
                    <td>
                        <img srcset="@Html.GetResizedSrcSet(project.Image.Url)" alt="@project.Image.Title" width="150" height="100" />
                        <br />
                        <a href="@project.Url">Learn more...</a>
                    </td>
                    <td>@project.Description</td>
                    <td>@project.Year</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    .projects-listing table {
        border: solid black 1px;
        text-align: center;
    }

    .projects-listing table td {
        border: solid black 1px;
        text-align: center;
    }
</style>